@charset "UTF-8";

/*
PALETA DE CORES
Verde: #49a09d
Lilás: #5f2c82
 */

 *{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 body, html{
    background-color:#5f2c82 ;
    height: 100vh;
    width: 100vw;
 }

 main{
    position: relative;
    height: 100vh;
    width: 100vw;
 }

 section#login{
    /* IMPORTANTE PARA POSIÇÃO E CENTRALIZAÇÃO!! */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
 }

 section#login > div#imagem{
    background: #5f2c82 url(../imagens/carro.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    display: block;
 }

 section#login > div#formulario{
    padding: 10px;
    display: block;
 }